<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WallapopScraper.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WallapopScraper.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class='dashboard'>
        <div class="dashboard-nav">
            <nav class="dashboard-nav-list">
                <a class="dashboard-nav-item-selected" asp-page="/Index"><i class="material-icons">home</i></a>
                <a class="dashboard-nav-item" asp-page="/ScraperConfiguration"><i class="material-icons">settings</i></a>
                <a class="dashboard-nav-item" asp-page="/MailConfiguration"><i class="material-icons">settings</i></a>
                <a class="dashboard-nav-item" asp-page="/Logs"><i class="material-icons">description</i></a>
            </nav>
        </div>
        <div class='dashboard-app'>
            <div class='dashboard-content'>
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>

                @await RenderSectionAsync("Scripts", required: false)
            </div>
        </div>
    </div>
</body>
</html>
<script>
    const mobileScreen = window.matchMedia("(max-width: 990px )");
    $(document).ready(function () {
        $(".dashboard-nav-dropdown-toggle").click(function () {
            $(this).closest(".dashboard-nav-dropdown")
                .toggleClass("show")
                .find(".dashboard-nav-dropdown")
                .removeClass("show");
            $(this).parent()
                .siblings()
                .removeClass("show");
        });
        $(".menu-toggle").click(function () {
            if (mobileScreen.matches) {
                $(".dashboard-nav").toggleClass("mobile-show");
            } else {
                $(".dashboard").toggleClass("dashboard-compact");
            }
        });
    });
</script>