@page "/Configuration/Category/Create"
@model MinimalStock.Web.Pages.Configuration.Category.CreateModel
@{
}
<h1>Create Category</h1>
<hr />

<div class="row">
    <div class="col-md-12">
        <partial name="CategoryForm" model="@Model.Category" />
    </div>
</div>